* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-container {
  display: grid;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 1rem;
}

.display-container {
  height: 100px;
  color: rgb(67, 190, 0);
  font-size: 2.3rem;
}

.pending-container {
  height: 60px;
  color: rgb(171, 171, 171);
  font-size: 1.5rem;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.2rem;
}

.buttons-container {
  padding: 1.2rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

.buttons-container > button {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 28px 20px;
  background-color: rgb(215, 215, 215);
  border: none;
  border-radius: 50%;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: rgb(182, 182, 182);
}

#clear {
  color: rgb(241, 77, 77);
}

.green {
  color: rgb(67, 190, 0);
}

.number,
.grey-signs {
  color: rgb(96, 87, 87);
}
